<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>cardstorm</title>
	<link href="css/style.css" rel='stylesheet' type='text/css'/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Simple Tab Forms Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<script src="js/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});

        function makeRecs() {
            deckList = getDeckList()
            $.ajax({
                url: "/recommendations",
                contentType: "text/plain",
                type: "POST",
                success: showRecs,
                data: deckList
            });
        }

        function showRecs(rec_ids) {
            recs_html="<div>"
            rec_ids.forEach(function(url) {
                recs_html += '<img style="display: inline;" src="'
                recs_html += url
                recs_html += '"  />'
            })
            recs_html += "</div>"

            cardsDiv = $("div#cards")
            cardsDiv.html(recs_html)
        }

        function getDeckList(){
            return $("#deck-list").val()
        }
	</script>

</head>
<body>
	<h1>cardstorm: a magic the gathering card recommender</h1>
	<div class="main-content">
        <div class="right-w3">
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul>
						<li class="resp-tab-item"><span>Recommend Cards</span></li>
				    <div class="clear"></div>
					</ul>
					<div class="agile-tb">
						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
								<textarea placeholder="Deck list goes here" rows="15" cols="50" id="deck-list" required></textarea>
								<!-- <span class="checkbox1" name="user_choices">
									<label class="checkbox super"><input type="checkbox" name="white_cards" checked=""><i> </i>White Cards</label>
                                    <label class="checkbox super"><input type="checkbox" name="blue_cards" checked=""><i> </i>Blue Cards</label>
                                    <label class="checkbox super"><input type="checkbox" name="black_cards" checked=""><i> </i>Black Cards</label>
                                    <label class="checkbox super"><input type="checkbox" name="red_cards" checked=""><i> </i>Red Cards</label>
                                    <label class="checkbox super"><input type="checkbox" name="green_cards" checked=""><i> </i>Green Cards</label>
                                    <label class="checkbox super"><input type="checkbox" name="land_cards" checked=""><i> </i> Land Cards</label>
								</span> -->

								<button id="submit-button" onclick="makeRecs()"> Make Recommendations </button>
						</div>
					 </div>
				</div>
			</div>

		</div>

	</div>
    <div id="cards">

    </div>

	<div class="footer">
	</div>
	<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
</body>
</html>
